
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper{
	width: 100%;
	height: 100vh;
	margin: 0;
	background-color: rgb(0, 0, 0, .7);
}

header{
	background-image: url(img2.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	z-index: 11111;
}

.header-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.header-wrapper img {
	margin-left: 100px;
	height: 170px;
	z-index: 2;
}

.nav-links {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.nav-links li {
	padding: 0 5px;
	list-style: none;
	margin-right: 40px;
	font-family: 'Roboto Condensed', sans-serif;
}

.nav-links li a {
	text-decoration: none;
	color: #FFFFFF;
	font-family: 'Roboto Condensed', sans-serif;

}

.l-pattern img {
	margin-top: -32px;
	margin-left: -32px;
	width: 320px;
	height: 200px;
	z-index: 1;
}

header h1 {
	margin-top: -30px;
	text-align: center;
	color: #FFFFFF;
	font-family: 'Roboto Condensed', sans-serif;

}

header p {
	text-align: center;
	margin-left: 215px;
	padding: 5px 15px;
	color: #FFFFFF;
	width: 68%;
	font-family: 'Arial', sans-serif;

}

.r-pattern img {
	width: 250px;
	position: relative;
	margin-left: 1095px;
	margin-top: 0;
	z-index: 1;
}



.section {
	width: 100%;
	height: 100vh;
	z-index: 2;
	
}

.img-wrapper {
	display: grid;
	grid-template-columns: 1fr  1fr;
	margin: 100px 335px;
	font-family: 'Roboto Condensed', sans-serif;
}

.sub-img-wrapper {
	padding: 35px 20px;
	
}

.img-wrapper img {
	width: 300px;
	height: 300px;
	border-radius: 10px 10px 0px 0px;

	 
}

.img-wrapper h4{
	color: #24116A;
	font-weight: bold;
}

.first {
	background: #E4EDF2;
	padding: 10px 15px;
	border-radius: 0px 0px 10px 10px;
}

.second, .third, .fourth, .fifth, .sixth {
	background: #E4EDF2;
	padding: 10px 15px;
	height: 143px;
	border-radius: 0px 0px 10px 10px;

}

.btn p {
	margin-left: 350px;
	margin-top: -100px;
	font-size: 30px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #555555;

}

.btn a {
	margin-left: 40px;
	text-transform: uppercase;
	font-size: 26px; 
	font-weight: bold;
	font-family: 'Roboto Condensed', sans-serif;
	color: #444444;
	text-decoration: none;

}


footer {
	background-color: #24116A;
	min-height: 80vh;
	margin-top: 1100px;
	color: #FFFFFF;
	font-family: 'Roboto Condensed', sans-serif;
	
}

footer img {
	margin-left: 65px;
	height: 150px;
}

.footer-wrapper {
	display: flex;
	justify-content: space-around;
	align-content: center;
	flex-wrap: wrap;

}

.sub-wrapper i {
	padding: 8px 10px;
	background-color:#FFFFFF;
	color: #000;
	cursor: pointer;
	border: 2px solid #000;
	border-radius: 50%;
}

.sub-wrapper p a {
	color: #FFFFFF;

}

hr {
	border-top: 1px solid #E4EDF2;
	width: 87%;
	margin: auto;
	
}

.copyright {
	margin-left: 85px;
	margin-top: 20px;
}

.hamburger {
 	background-color: transparent;
 	border: 0;
 	font-size: 24px;
    color: #fff;
    display: none;

 }

 .hamburger:focus {
 	outline: none;
 }

 @media screen and (max-width: 767px) {

	body {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	.header-wrapper img {
		margin-left: 20px;
		height: 100px;
	}

	.l-pattern img {
		display: none;
		width: 190px;
		height: 130px;
		margin-left: -48px;
		margin-top: -20px;
	}

	.r-pattern img {
		display: none;
		width: 220px;
		height: 150px;
		margin-left: 165px;
		margin-top: 17px;
	}

	header h1 {
		text-align: center;
		margin-left: -20px;
		margin-top: 30px;
	}

	header p {
		margin-top: ;
		margin-left: 0px;
		width: 100%;
	}

	.nav-links {
		display: none;
		flex-direction: column;
		width: 100%;
		padding: 0 10px;
	}

	.nav-links li {
		padding: 0 10px;
	}
	.hamburger {
		display: block;
		margin-right: 15px;
		margin-top: -15px;
		position: relative;
	}

	.nav-links.show {
		display: flex;
	}

	.img-wrapper {
		display: block;
		margin: 25px 8px;
	}

	.sub-img-wrapper {
		padding: 30px 15px;
	}

	.first, .second, .third,
	.fourth, .fifth, .sixth {
		padding: 10px 20px;
		width: 96%;
	}

	.btn p {
		margin-left: -10px;
		margin-top: -20px;
		
	} 

	.btn a {
		margin-top: 10px;
		margin-left: -15px;
	}
	

	footer {
		margin-top: 2580px;
		min-height: 95vh;
		
	}

	footer img {
		height: 140px;
		margin-left: 120px;
	}
	.footer-wrapper h3 {
		font-size: 1.4rem;
		padding: 0 17px;
	}

	.footer-wrapper p{
		font-size: .9rem;
		padding: 0 17px;
	}
	.sub-wrapper {
		padding: 2px 7px;
	}

	.copyright {
		margin-left: 60px;
		margin-top: 9px;
	}
}       

